body{
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}

.nav{
    justify-content: space-between;
    display: flex;
    width: 85%;
    margin: auto;
    padding: 10px;
    margin-top: 10px;
}

.nav>div>a{
    margin: 10px;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 12px;
    text-decoration: none;
    color: black;
}
.nav a:hover{
    opacity: 0.7;
}
.logo{
    width:80%;
    display: flex;
    margin: auto;
    margin-top: 40px;
    position: relative;
}
.logo a{
    text-decoration: none;
    color: black;
}
.logo img{
    width: 200px;
}
.logo i{
    font-size: 30px;
}
.logo>div:nth-child(1){
    margin-left: 400px;
}
.logo>div:nth-child(2){
    float: right;
    padding: 10px;
    margin-left: 400px;
}
.logo>div:nth-child(2){
    display: flex;
}

#scrollTop{
    position: fixed;
    float: right;
    background-color: rgba(141, 141, 141, 0.867);
    color: white;
    font-size: 25px;
    padding: 10px 17px;
    margin-top: 550px;
    text-align: center;
    margin-right: 10px;
    z-index: 99;
    display: none;
    right: 0;
}
#scrollTop:hover{
    cursor: pointer;
}

.smallnav{
    width: 85%;
    margin: auto;
    justify-content: space-between;
    display: flex;
    font-family: Futura-Medium,Century Gothic,Gill Sans,Helvetica,Arial,sans-serif;
    font-size: 14px;
    margin-top: 10px;
}
.smallnav input{
    margin-top: 15px;
    font-size: 15px;
    outline: none;
}
.smallnav input:hover{
    width: 250px;
}

.smallnav>div:nth-child(1)>ul{
    display: flex;
    list-style-type: none;
}

.smallnav li{
    margin-left: 10px;
}

.main{
    width: 90%;
    display: flex;
    margin: auto;
    justify-content: space-between;
}
.main>div:nth-child(1){
    width: 20%;
}
.main li{
    list-style: none;
    font-family: Futura-Medium,Century Gothic,Gill Sans,Helvetica,Arial,sans-serif;
    font-size: 14px;
}
.main span{
    font-family: Futura-Medium,Century Gothic,Gill Sans,Helvetica,Arial,sans-serif;
}
.main>div:nth-child(2){
    width: 80%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 10px;
    row-gap: 10px;
}

.main>div:nth-child(2)>div>img{
    width: 100%;
}

.main>div:nth-child(2)>div{
    text-align: center;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    font-family: Futura-Medium,Century Gothic,Gill Sans,Helvetica,Arial,sans-serif;
    padding-bottom: 10px;
}

.sort{
    width: 80%;
    text-align: center;
    margin: auto;
    justify-content: space-evenly;
    font-family: Futura-Medium,Century Gothic,Gill Sans,Helvetica,Arial,sans-serif;
}

#sort{
    font-size: 15px;
    outline: none;
}

.play{
    width: 80%;
    margin: auto;
    text-align: center;
    padding: 5px;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 15px;
}
.play>div{
    width: 30%;
    margin: auto;
    display: flex;
    margin-top: 10px;
}
.play>div>img:nth-child(1){
    height: 40px;
    margin-top: 5px;
}
.play>div>img:nth-child(2){
    height: 50px;
}
.footer{
    width: 80%;
    margin: auto;
    text-align:center;
    padding: 10px;
}
.footer>table{
    width: 100%;
    margin: auto;
    
}
.footer>table>thead{
    font-weight: bold;
}
tbody button{
    border: none;
    padding: 2px 20px;
    background-color: black;
    color: white;
}
#social{
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    text-decoration: none;
}
#social i{
    color: black;
}
.copyright{
    width: 80%;
    margin: auto;
    text-align: center;
    padding: 10px;
}

@media all and (min-width:600px) and (max-width:1000px){
    .sort{
        width: 100%;
    }

    .main>div:nth-child(1){
        display: none;
    }

    .main>div:nth-child(2){
        grid-template-columns: repeat(2, 1fr);
    }
    .main>div:nth-child(2){
        margin: auto;
    }
}

@media all and (min-width:100px) and (max-width:1000px){
    .sort{
        width: 100%;
    }

    .main>div:nth-child(1){
        display: none;
    }

    .main>div:nth-child(2){
        grid-template-columns: repeat(1, 1fr);
    }
    .main>div:nth-child(2){
        margin: auto;
    }
}